.circles {

    overflow: hidden;
    padding: 16px 0 194px;
}

.circles_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
}

.circles_contant {
    display: flex;

    flex-direction: column;
    margin: 134px 0 160px;
    gap: 48px;
    align-items: flex-start;
}

.circles_text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: var(--primary-green);

}

.circles_title {}

.circles_desk {
    font-size: 25px;
}

.circles_link {
    font-size: 18px;
    padding: 14.5px 31px;
    color: var(--primary-green);
    border: 2px solid var(--primary-green);
    border-radius: 100px;
    font-weight: 700;
}

.confettis2 {
    position: absolute;
}