@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@font-face {
    font-family: "Motter Corpus Std";
    src: url('..//asset/fonts/Motter Corpus Std Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    outline: none;
}


body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;

}